{# Teaser photos used in the teaser displays of Course, News article content types #}

{% set teaserPhoto = content.field_photo[0] %}

{% if teaserPhoto %}
    <div class="col-12 col-sm-3">
      {{ teaserPhoto }}
    </div>
{% endif %}