{# Attaching AddThis widget for social sharing. 
Appears on the bottom of most content types. #}

{{ attach_library('coffey/addthis') }}

<section class="col-12 col-md-7 col-lg-8" aria-label="Social sharing icons.">
  <div class="addThis">
    <span>Share this page:</span>
    <script async="async" type="text/javascript"> var addthis_config = { ui_tabindex: 0 } </script>
    <div class="addthis_inline_share_toolbox_kn95" tabindex="0"></div>
  </div>
</section>