{# Angle right SVG. #}

<svg class="icon right-arrow" aria-hidden="true" aria-labelledby="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 265.01 436.69">
  <title id="arrow-right">Arrow pointing to the right.</title>
  <path d="M377.48,270,183.13,464.31a24,24,0,0,1-33.94,0l-22.67-22.66a24,24,0,0,1,0-33.9L280.5,253l-154-154.75a24,24,0,0,1,0-33.9l22.67-22.66a24,24,0,0,1,33.94,0L377.48,236a24,24,0,0,1,0,33.94Z" transform="translate(-119.49 -34.66)"/>
</svg>