{# Angle left SVG. #}
<svg class="icon left-arrow" aria-hidden="true" aria-labelledby="left-arrow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 265.01 436.69">
  <title id="left-arrow">Arrow pointing to the right.</title>
  <path d="M126.52,270a24,24,0,0,1,0-33.94L320.87,41.69a24,24,0,0,1,33.94,0l22.67,22.66a24,24,0,0,1,0,33.9L223.49,253l154,154.75a24,24,0,0,1,0,33.9l-22.67,22.66a24,24,0,0,1-33.94,0L126.52,270Z" transform="translate(-119.49 -34.66)"/>
</svg>