{# Angle down SVG. #}
<svg class="icon down-arrow" aria-hidden="true" aria-labelledby="down-arrow" role="img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" xml:space="preserve">
  <title id="down-arrow">Click this icon to be brought to content about {{ anchor_text }}.</title>
  <path d="M235,377.5L40.7,183.1c-9.4-9.4-9.4-24.6,0-33.9l22.7-22.7c9.4-9.4,24.5-9.4,33.9,0l154.7,154l154.7-154
	c9.4-9.3,24.5-9.3,33.9,0l22.7,22.7c9.4,9.4,9.4,24.6,0,33.9L269,377.5C259.6,386.8,244.4,386.8,235,377.5L235,377.5z"/>
</svg>