{# Event title include used on node--event--upcoming-course-events, node--event--teaser, node--event--rich-media-listing, node--deadline--rich-media-listing. #}

<div class="title">
  <a href="{{ url }}">{{ label }}</a>
</div>