{# Include used on event--upcoming-course-events, event--teaser, event--rich-media-listing, deadline--rich-media-listing #}
{# Not used on event--full #}

<div class="title">
  <a href="{{ url }}">{{ label }}</a>
</div>
