{# Registration button include used on node--event--full and node--event--upcoming-course-events. #}

{% for key, link in content.field_registration_link if key | first != '#' %}
  <div class="register-button">
    {% set registrationUrl = link["#url"].tostring() %}
    <a role="button" class="button" href="{{ registrationUrl }}">
      {{ link["#title"] }}
    </a>
  </div>
{% endfor %}