// Forms ============================================
// General form styles + Salesforce iframe
// ==================================================
// Generic form styles - mostly from bootstrap ===============
.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1.4rem;
  line-height: 1.75;
  color: $stormy;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid $grey;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus-visible {
    border-radius: 0;
    border-color: $gold;
    outline: 2pt solid $gold;
  }
}

// Salesforce Marketing Cloud iframes ===============
.smc-embed body * {
  font-family: $font-family-sans-serif!important;
}

.smc-embed {
  margin: 20px 0;
  iframe {
    h1 {
      font-family: $font-family-sans-serif!important;
    }
  }
}

// =========== select dropdowns ===========
/* in left and right columns of local office news & events pages */
.view-filters select.form-control, .side-nav select {
  border-radius: 0px;
  padding: 8px;
  border: 1px solid $grey;
  width: 100%;

  &:focus,
  &:hover {
    outline: $gold 2pt solid;
    box-shadow: none;
    transition: none;
    border-color: transparent;
  }
}

.view-news-from-local-office, .view-events-from-local-office {
  .form-inline,
  .form-item,
  select {
    width: 100%; 
    display: block;
  }
}
// ====== Program filtering on Local news and event feed pages ======
.local-office-filter .view-filters {
  .form-inline {
    background: $lightgrey;
    padding: 15px;
  }
  label {
    font-size: $font-size-middle;
    font-weight: 100;
  }
}