//=======================================================================
/* Main navigation styles */
//=======================================================================

nav,
.nav {
  //-------------main navigation and edit links
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
  list-style: none;

  ul {
    font-size: inherit;

    a,
    a:focus,
    a:hover {
      color: inherit;
      font-weight: inherit;
      font-size: inherit;
      background-color: transparent;
      text-decoration: none;
      transition: none;
      border-bottom: 0;
      box-shadow: none;
    }
  }

  .nav-link {
    display: block;
  }
}

@media (max-width:850px) {
  .top-navigation .navbar-toggler {
    color: $darkergrey;
    border: 0;
    width: 100%;
    padding: 15px;
    border-radius: 0;
    line-height: 1;
    background: $white;
    cursor: pointer;

    .menu-button {
      display: inline-block;
      font-size: 2rem;

      .icons {
        float: left;
        margin-right: 5px;

        .icon-bar {
          display: block;
          width: 28px;
          height: 3px;
          border-radius: 0;
          background: $darkergrey;
        }

        .icon-bar+.icon-bar {
          margin-top: 6px;
        }
      }
    }

    &[aria-expanded="true"] {
      background: $darkmaroon;
      color: $white;

      .menu-button {
        .icons {
          .icon-bar {
            background: $white;
          }
        }
      }
    }
  }
}

.navbar {

  /* Generic styles for all ul, li, and a in the navbar. */
  ul {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0;

    li {
      position: relative;
      @include display-hund;

      a {
        color: $darkergrey;
        width: 100%;
        cursor: pointer;

        &:hover,
        &:focus {
          color: $darkergrey;
          background: $darkgold;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.navbar {
  //-------------main extension navigation
  display: block;
  position: relative;
  z-index: 2;

  .top-navigation {
    width: 100%;
    background: #fff;
    display: inline-block;
    -webkit-box-shadow: 0 5px 13px -6px rgba(163, 161, 163, 1);
    -moz-box-shadow: 0 5px 13px -6px rgba(163, 161, 163, 1);
    box-shadow: 0 5px 13px -6px rgba(163, 161, 163, 1);
    @include full-bg-color;

    .container {
      padding: 0;
    }

    ul.navbar-nav {

      li.show {
        background: $darkgold;
      }

      a.nav-link {
        padding: 15px;
      }

      li.dropdown>a:after {
        /* caret styles*/
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: 0.255em;
        content: "";
        position: inherit;
        margin-top: 0;
        right: inherit;
        border-top: 0.35em solid $darkergrey;
        border-right: 0.35em solid transparent;
        border-bottom: 0;
        border-left: 0.35em solid transparent;
      }

      ul.dropdown-menu {
        display: none;
        background: $gold;
        border-bottom: 3pt solid $darkgold;
        position: relative;

        &.show {
          display: block;
        }

        li a {
          padding: 15px 30px;
          display: block;
          width: 100%;
          clear: both;

          &:focus,
          &:hover {
            background: transparent;
            font-weight: bold;
            text-decoration: underline;
          }
        }
      }
    }

    @media (min-width:850px) {
      .navbar-expand-lg {
        .navbar-toggler {
          display: none;
        }

        .navbar-collapse {
          display: block;
          position: relative;
        }
      }

      .navbar-nav {
        flex-direction: row;
        display: flex;

        li {
          text-align: center;

          a.nav-link {
            padding: 15px 0px;
          }

          ul.dropdown-menu {
            padding: 20px;
            position: absolute;
            width: auto;
            min-width: 300px;

            li {
              text-align: left;

              a {
                padding: 15px 0;
              }
            }
          }

          &:hover {
            background: $gold;

            .dropdown-menu {
              display: block;
            }
          }
        }
      }
    }
  }
}

.navbar-nav li.dropdown {
  /* Styling the first and last nav links in the top menu. */
  @media (min-width:850px) {
    &:first-child {
      position: inherit;

      ul.dropdown-menu {
        width: 100% !important;
        column-count: 2;
        -moz-column-gap: 60px;
        -webkit-column-count: 2;
        -webkit-column-gap: 60px;
        column-count: 2;
        column-gap: 60px;
      }
    }

    &:last-child {
      ul.dropdown-menu {
        left: inherit;
        right: 0;
      }
    }
  }

  @media (min-width:$large-screen) {
    &:first-child {
      ul.dropdown-menu {
        width: 90% !important;
      }
    }
  }

  @media (min-width:$xlarge-screen) {
    &:first-child {
      ul.dropdown-menu {
        width: 70% !important;
      }
    }

    &:last-child {
      ul.dropdown-menu {
        left: 0;
        right: inherit;
      }
    }
  }
}