<header class="row">
  <div class="col">
    <h1 class="js-quickedit-page-title page-header" id="page-title">
      {# the SVG logo is the 4-H clover - coming in from coffey.theme file #}
      {{ content["svg_logo"] }}
      <span> {{ content["#title"] }} </span>
    </h1>
  </div>
</header>
