{# Default breadcrumb block. 
Don't think it's used by Extension. #}
{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup templates
 */
#}

{% set breadcrumbs = elements.content["#links"] %}
{% set hasBreadcrumbs = breadcrumbs|length > 0 %}

{% if hasBreadcrumbs %}
    <div class="row crumbs">
      <div class="col">
        <ol class="breadcrumb">
          {% for item in breadcrumbs %}
            {% if item.attributes %}
              <li {{ item.attributes }}>
            {% else %}
              <li>
            {% endif %}
              {% if item.url %}
                <a href="{{ item.url }}">{{ item.text }}</a>
              {% else %}
                {{ item.text }}
              {% endif %}
            </li>
          {% endfor %}
        </ol>
      </div>
    </div>
{% endif %}

