{# centers the intro text on the home page #}

<section class="row justify-content-center" aria-label="Welcome to Extension">
  <div class="col col-md-10 col-lg-8 intro">
    {{ element }}
  </div>
</section>
