{# Quick facts are on basic pages - a gold border around a paragraph of text explaining the page. #}

{% set has_quick_facts = element[0] %}

{% if has_quick_facts %}
  <div class="quick-facts">
    {{ element }}
  </div>
{% else %}
{# Show nothing #}
{% endif %}
