{# Search results list #}

{% for item in items %}
  {% set searchResultItem = item.value["#result"] %}
  {% set searchPageURL = searchResultItem.link %}
  {% set searchDescription = searchResultItem.snippet %}

  <div class="list-teaser">
    <div class="list-link" role="heading">
      <a href="{{ searchPageURL }}">{{ searchResultItem.title }}</a>
    </div>
    <p>{{ searchDescription }}</p>
  </div>
{% endfor %}
