{# Topic page content type. 
Section class names need to be the same on Basic Pages, Topic pages, and Course Page content types. #}

{% set sidebarContent = content.field_right_sidebar[0] %}
{% set pageTitle = label[0]["#context"].value %}

{{ content.field_banner }}

{% if sidebarContent %}
  <div class="row">
    <section class="col-12 col-md-7 col-lg-8 big-column" aria-labelledby="page-title">
      {{ content|without("field_right_sidebar", "field_banner") }}
    </section>
    <aside class="col-12 col-md-5 col-lg-4 small-column" aria-label="Secondary navigation.">
      {{ sidebarContent }}
    </aside>
      {% include '@coffey/includes/add-this.html.twig' %}
  </div>
{% else %}
  <div class="row justify-content-center">
    <section class="col-12 col-md-10 col-lg-9" aria-labelledby="page-title">
      {{ content|without("field_right_sidebar", "field_banner") }}
    </section>
    {% include '@coffey/includes/add-this.html.twig' %}
  </div>
{% endif %}