{# Course Rich Media Listing - How the course appears on the courses and events page #}

{{ attach_library('coffey/flex') }}
{{ attach_library('coffey/events') }}

<article class="row list-display">
  <div class="col-12">
    {% include '@coffey/includes/displays/title.html.twig' %} 
    {% include '@coffey/includes/displays/summary.html.twig' %}  
  </div>
</article>