{# Category Section Anchor - paragraph type.
List links in the left navigation of the Category Landing Pages. #}

{% set anchorUrl = elements.field_category_anchor[0]["#context"]["value"] %}
{% set anchorText = elements.field_anchor_text[0]["#context"]["value"] %}

<li>
  <a href="{{ anchorUrl }}">{{ anchorText }}</a>
</li>