{# Feature block - Paragraph type. 
Not used in many places. P-Type was replaced by 2 column variable p-type. #}

{% set imageLocation = content.field_image_location[0]["#markup"] %}
{% set imageMobile = content.field_mobile_image[0]["#markup"] %}

<div class="feature-block {{ imageMobile }}">
  <div class="row">
    <div class="col-12 col-sm-4 col-lg-3 feature-image {{ imageLocation }}">
      {{ content.field_image }}
    </div>
    <div class="col-12 col-sm-8 col-lg-9 feature-content">
      {{ content.field_content }}
    </div>
  </div>
</div>