{# 2022 update from Terri: I don't think this p-type is used on the site.
Might be an old template that was never removed. #}
<div class="side-nav" {{ attributes }}>
  <h2>{{ content.field_title }}</h2>
  {{ content.field_related_links_view }}
</div>