{# Skeleton of the "on this page" section of Category landing pages #}

<div class="row">
  <div class="col">
    <h2>{{ content.field_title }}</h2>
  </div>
</div>
<div class="row">
  {{ content.field_category_section_anchors }}
</div>
