{# Nav to category section - paragraph type. 
Skeleton of the "on this page" section of Category landing pages #}

<h2>{{ content.field_title }}</h2>
<ul>
  {{ content.field_category_section_anchors }}
</ul>