{# Full width content section - paragraph type. 
Created for Landing pages. 
Ability to insert other paragraph types inside this. #}

{% set backgroundColor = content.field_background_color[0]["#markup"] %}

<section class="full-width-bg {{ backgroundColor }}" {{ attributes }}>
      {{ content|without("field_background_color") }}
</section>