{# If any change is made to this template it should also be made on the 3 other collage templates. #}

{{ attach_library('coffey/carousel') }}

<div class="collage" {{ attributes }}>
  <div class="row">
    <div id="collageCarouselIdentifier" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active col-md-6">
          {{ content.field_top_left }}
        </div>
        <div class="carousel-item col-md-6">
          {{ content.field_top_right }}
        </div>
        {% include '@coffey/includes/carousel-buttons.html.twig' %}

      </div>
      <ol class="carousel-indicators">
        <li data-target="#collageCarouselIdentifier" data-slide-to="0" class="active"></li>
        <li data-target="#collageCarouselIdentifier" data-slide-to="1"></li>
      </ol>
    </div>
  </div>
</div>

<style>

  @media (min-width: 768px) {
    .carousel > .col-md-6 {
      display: inline-block !important;
    }
  }
</style>
