{# Related links list - paragraph type.
Ability to create a navigation box with manual links or pull links from a created view. #}
<div class="side-nav" {{ attributes }}>
  <h2>{{ content.field_title }}</h2>
  <ul>
    {{ content.field_view }}
    {{ content.field_related_links }}
  </ul>
</div>