{# Paragraph type that has an automatic grey background with a WYSIWYG. Built to put the authors in. #}

<section class="author-block" {{ attributes }} aria-label="Page authors.">
  {{ content }}
</section>
