{# Internal link - Paragraph type. 
Created for category landing pages and used to link to internal pages on the site. #}

{% set pageTitle = content.alternate_title ? content.alternate_title : content.field_page_to_reference[0]["#node"].getTitle() %}
{% set sectionHeaderId = content.section_header[0]["value"]|url_encode %}

<div class="two-col">
  <h3>
    <a href="{{ content.page_link }}">{{ pageTitle }}</a>
  </h3>
  <p>
    {{ content.page_summary }}
  </p>
</div>