{# Text block two columns - Paragraph type. 
Two columns with a WYSIWYG in each column. #}
<div class="double-column" {{ attributes }}>
  <div class="row">
    <div class="col-12 col-sm col-lg-6">
      {{ content.field_left_column }}
    </div>
    <div class="col-12 col-sm col-lg-6">
      {{ content.field_right_column }}
    </div>
  </div>
</div>
