{# Custom content (aka custom block) - Paragraph type.
Allows for ability to add a custom block as a paragraph type on a page. #}

{% set backgroundClass = content.field_background_color[0]["#markup"] %}
{% set borderClass = content.field_border_color[0]["#markup"] %}

<div class="{{ backgroundClass }} {{ borderClass }}">
  <div class="row">
    <div class="col-12">
      {{ content|without("field_border_color", "field_background_color") }}
    </div>
  </div>
</div>