{# 2 column variable paragraph type. Can choose location of small column (left, right, top, bottom). #}

{% set columnLocation = content.field_location[0]["#markup"] %}
{% set borderOn = (content.field_bottom_border["0"]["#markup"] == "True") %}

<div class="two-column-variable {{ columnLocation }}">
  <div class="row">
    <div class="col-12 col-sm-6 col-xl-4 small-col">
      {# if change column classes, update grid.scss #}
      {{ content.field_small_column_content }}
    </div>
    <div class="col-12 col-sm-6 col-xl-8 large-col">
      {# if change column classes, update grid.scss #}
      {{ content.field_large_column_content }}
    </div>
  </div>
  {% if borderOn %}
    <hr />
  {% endif %}
</div>
