{# Author block - Paragraph type. 
Has a grey background with a WYSIWYG. 
Built to put the authors in. #}

<section class="author-block grey-bg" {{ attributes }} aria-label="Page authors.">
  {{ content }}
</section>