{# Template for the bottom row of the footer. #}
<section id="umnhf-f" class="umnhf">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md">
        <p>©
          <span id="cdate">{{ copyright_year }}</span>
          Regents of the University of Minnesota. All rights reserved. The University of Minnesota is an equal opportunity educator and employer.</p>
      </div>
      <div class="col-12 col-md">
        <ul>
          <li>
            <a href="{{ accessibility_reporting_link }}" target="_blank">{{ accessibility_reporting_text }}</a>
            <span>|</span></li>
          <li>
            <a href="{{ privacy_link }}" target="_blank">Privacy Statement</a>
            <span>|</span>
          </li>

          <li class="small">
            <a href="https://myextension.umn.edu" target="_blank">Staff intranet</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>