
@mixin font-size-base {
  font-size: $font-size-base;
  color: $black;
}

@mixin break-inside-avoid {
  -webkit-column-break-inside: avoid !important;
  page-break-inside: avoid !important;
  break-inside: avoid !important;
}

@mixin break-after-avoid {
  page-break-after: avoid !important;
  break-after: avoid-page;
}

@mixin no-flex {
  display: block!important; 
  flex: none!important; 
  max-width: none!important; 
  flex-flow: inherit!important;
}